<html>
<body>
<a href="profile">Back to profile</a>
    <div>
        Chose item to sell
        <form action="/items" method="post">
            <input type="text" name="id" placeholder="enter item id" required = "required">
            <button type="submit">Sell</button>
        </form>
    </div>
<div>Inventory</div>
{{#items}}
    <div>
        <span>{{id}}</span>
        <span>{{name}}</span>
        <span>{{description}}</span>
        <span>{{prise}}</span>
    </div>
{{/items}}
</body>
</html>